:root{
    --title-text:#14080E;
    --subtitile-text: #34344a;
    --hover-text:#7371fc;
    --bg-color: #f2f5ff;
    --error:#db5461;
    --dark: #282D46;
    --dark-secondary: #143D61;
    --primary: #188AEC;
    --light: #CBD4DC;
    --light-secondary: #EFEFEF;
    --extra-light: #F6FAFE;
    --light-secondary: #EFEFEF;
    --cons: #F57878;
}

 